//
@use "../../../../lib/index" as *;

//
@layer ux-inputs {

    ui-longtext {
        --thumb-size: 1.25rem;
        --track-height: 0.25rem;
        display: inline-block;
    }

    ui-slider[variant="slider"] {
        block-size: 1rem;
        border-radius: 9999px;
    }

    //
    :where(button, input[type="checkbox"]) {
        @include button-base;
    }

    // Enhanced select dropdown styling
    select {
        @include select-dropdown;
        @include solid-colorize("&");
    }

    textarea {
        @include form-field-base;
    }

    input {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &:where([type="number"], [type="date"], [type="time"], [type="datetime-local"], [type="date"], [type="time"], [type="datetime-local"], [type="month"], [type="week"], [type="datetime-local"], [type="date"], [type="time"], [type="text"], [type="number"], [type="email"], [type="url"], [type="tel"], [type="password"], [type="search"], [type="month"], [type="week"]) {
            @include form-field-base;
        }

        &:where([type="number"], [type="date"], [type="time"], [type="datetime-local"]) {
            font-variant-numeric: tabular-nums;
        }

        &:is([type="radio"]:checked) {
            border-radius: var(--radius-full);
        }
    }

    :where(input:is([type="checkbox"], [type="radio"]), button[data-icon-only]) {
        @include checkbox-radio-base;
    }

}
