@use "veela-lib" as *;
@use "./shared" as *;

//
@layer ux-existence {
    //
    *[data-hidden]:not([data-hidden="false"]):not([data-opacity-animation]) {
        &, * {
            @include hidden-state(true);
        }
    }

    //
    :host([data-hidden]:not([data-hidden="false"]:not([data-opacity-animation]))) {
        &, *, ::slotted(*) {
            @include hidden-state(true);
        }
    }

    //
    :host([data-hidden]:not([data-hidden="false"])) {
        &, *, ::slotted(*) {
            @include disable-interaction(true);
        }
    }

    //
    *[data-hidden]:not([data-hidden="false"]) {
        &, * {
            @include disable-interaction(true);
        }
    }
}
