@use "veela-lib" as *;

//
@layer ux-agate {
    @media screen {
        :root, :host, :scope, :where(body) {
            pointer-events: auto;

            //
            transition-behavior: allow-discrete;
            interpolate-size: allow-keywords;
            content-visibility: auto;

            //
            --keyboard-inset-bottom: calc(max(env(keyboard-inset-bottom, 0px), 0px) / max(var(--zoom, 1), 0.125));
            --keyboard-inset-height: calc(max(env(keyboard-inset-height, 0px), 0px) / max(var(--zoom, 1), 0.125));
        }

        //
        :root, :scope, :host {
            --scale: 1;
            --translate-x: 0px;
            --translate-y: 0px;

            //
            &, & :where(*) {
                --scale: 1;
                --translate-x: 0px;
                --translate-y: 0px;
            }
        }

        //
        :root, :where(html) {
            translate: none;
            transform: none;
            margin: 0px;
            padding: 0px;
            border: none 0px transparent;
            outline: none 0px transparent;

            //
            background-color: transparent;
            container-type: size;
            container-name: html root;
            contain: none;
            overflow: visible;
            position: fixed;
            inset: 0px;
            inset-block-end: auto;

            //
            min-inline-size: min(100cqi, 100dvi);
            min-block-size: min(100cqb, 100dvb);

            //
            inline-size: stretch;
            block-size: stretch;

            //
            max-inline-size: min(100%, min(100cqi, 100dvi)) !important;
            max-block-size: min(100%, min(100cqb, 100dvb)) !important;

            //
            place-content: start;
            place-items: start;
            place-self: start;

            //
            line-height: normal;
            flex-direction: column;
            display: flex;
        };

        //
        :where(body) {
            //@include fit-viewport();

            //
            & {
                translate: none;
                transform: none;
                margin: 0px;
                padding: 0px;
                border: none 0px transparent;
                outline: none 0px transparent;

                //
                font-size: var(--text-base, 0.9rem);

                //
                overflow: visible;
                position: relative;
                pointer-events: auto;
                inset: auto;

                //
                display: inline flex;
                place-content: start;
                place-items: start;
                place-self: start;

                //
                background-color: transparent;

                // if needs viewport
                container-name: body;
                container-type: size;
                contain: strict;

                //
                min-inline-size: 0px;
                min-block-size: 0px;

                //
                inline-size: stretch;
                block-size: stretch;

                //
                max-inline-size: min(100%, min(100cqi, 100dvi));
                max-block-size: min(100%, min(100cqb, 100dvb));
            }

            //
            & > :where(#app, #container, #root, .root) {
                inline-size: stretch;
                block-size: stretch;
                min-inline-size: 0px;
                min-block-size: 0px;
                max-inline-size: min(100%, min(100cqi, 100dvi));
                max-block-size: min(100%, min(100cqb, 100dvb));
            }

            //
            & > :where(*) {
                max-inline-size: min(100%, min(100cqi, 100dvi));
                max-block-size: min(100%, min(100cqb, 100dvb));
            }
        }
    };

};
