@use "veela-lib" as *;

//
@layer ux-normalize {

    //
    @layer ux-agate;
    @media screen {
        :root, :where(html) {

            //
            &, :where(body) {
                padding: 0px;
                margin: 0px;
                inset: 0px;
                border: none 0px transparent;
                background-color: transparent;
                @include HQRendering();
            }

            //
            :where(body, button, html, :root) { font-family: "InterVariable", "Inter", 'Open Sans', 'Gill Sans Nova', Ubuntu, 'DejaVu Sans', Candara, Segoe, "Segoe UI", Optima, source-sans-pro, sans-serif; }
        }

        //
        :host, :scope, :root {
            & > :where(*) {
                background-color: transparent;
                background-image: none;
                mask-image: none;
            }

            //
            & :where(*), &::slotted(*) {
                -webkit-tap-highlight-color: transparent;
                -moz-tap-highlight-color: transparent;
                -o-tap-highlight-color: transparent;
                -ms-tap-highlight-color: transparent;
                tap-highlight-color: transparent;

                //
                transition-behavior: allow-discrete;
                interpolate-size: allow-keywords;
                box-sizing: border-box;
            }

            // if there is nothing, why there is needs content?
            :where(img, video, audio, picture, canvas) { content-visibility: auto; }
            :where(h1, h2, h3, h4, h5, h6, p, form, label, button) { content-visibility: auto; }
            :where(div, span, a, h1, h2, h3, h4, h5, h6, p, label, form):empty { content-visibility: hidden; }

            //
            :where(ui-window-frame, ui-modal, .ui-grid-item):active,
            :where(ui-icon, label, form)
            [data-dragging], [data-hidden] { will-change: inset, translate, transform, opacity, z-index; };

            //
            :where(ui-icon::before) { @include LQRendering(); }
            :where(head, script, link, style, meta) { display: none !important; user-select: none !important; pointer-events: none !important; }

            // optimize effects
            [data-hidden] { content-visibility: auto; filter: none !important; backdrop-filter: none !important; };
            [data-dragging] * { backdrop-filter: none !important; user-select: none !important; /*pointer-events: none !important;*/ };
            [data-dragging], [data-hidden] { backdrop-filter: none !important; user-select: none !important; };
            [aria-hidden="true"] { display: none !important; }
            [data-hidden] { opacity: var(--opacity, 0); }

            //
            :where([inert], *[inert]) {
                pointer-events: none !important;
                user-select: none !important;
                touch-action: none !important;
            }

            //
            @media (prefers-reduced-motion: reduce) {
                :where(*),
                ::after,
                ::before {
                    animation-delay: -1ms !important;
                    animation-duration: 1ms !important;
                    animation-iteration-count: 1 !important;
                    background-attachment: initial !important;
                    scroll-behavior: auto !important;
                    transition-delay: 0s !important;
                    transition-duration: 0s !important;
                }
            }

            //
            :where(*) {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                //
                -webkit-tap-highlight-color: transparent;
            }

            //
            :where(img, picture, span, a, button, input, svg, video, canvas) {
                -webkit-user-drag: none;
                user-select: none;
            }

            //
            :where(picture) { display: contents; }
            :where(picture, canvas, img, video) {
                user-select: none;
                overflow: hidden;
                //pointer-events: none;
            }

            //
            :dir(rtl) :where(*), :where(*):dir(rtl) { direction: rtl; }
            :dir(ltr) :where(*), :where(*):dir(ltr) { direction: ltr; }

            //
            :where(a, span) {
                text-decoration: none;
                background-color: transparent;
                place-content: center;
                place-items: center;
                justify-content: start;
            }

            // relative by default
            :where(label) { position: relative; & > input:where([type="radio"], [type="checkbox"]) { display: none; pointer-events: none; } }
            :where(.space, flex-space) {
                flex-grow: 1;
                flex-shrink: 0;
            }

            //
            :where(.break, flex-break, br) {
                flex-basis: 100%;
                flex-grow: 1;
                flex-shrink: 0;
            }

            //
            //.ui-icon { background-color: var(--ui-icon-color, currentColor); }
            input, button { accent-color: currentColor; };
            ui-icon { --icon-color: currentColor; };

            //
            *:not(:defined) { display: none; }
        }
    };

    //
    :where(canvas):is([is="ui-canvas"]), :host(canvas[is="ui-canvas"]) {
        min-inline-size: 1px;
        min-block-size: 1px;

        //
        inline-size: 100%;
        block-size: 100%;

        //
        max-inline-size: 100%;
        max-block-size: 100%;

        //
        pointer-events: none !important;
        place-content: center;
        place-items: center;
        place-self: center;

        //
        aspect-ratio: auto;
        display: flex;

        //
        image-rendering: auto;
        image-rendering: optimizeQuality;
        image-rendering: smooth;
        image-rendering: high-quality;

        //
        object-fit: cover;
        object-position: center;

        //
        background-color: var(--theme-base-color, transparent);
        border-image-source: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");

        //
        position: fixed !important;
        inset: 0px !important;
    }
};
