
//
@layer ux-classes {
    :root, :scope {
        --scale: 1;
        --translate-x: 0px;
        --translate-y: 0px;
    }

    //
    :host {
        &, & :where(*) {
            --scale: 1;
            --translate-x: 0px;
            --translate-y: 0px;
        }
    }

    //
    ui-window-frame, :host(ui-window-frame) {
        & {
            --translate-x: calc(var(--drag-x, 0) * 1px);//var(--ds-x, 0px);
            --translate-y: calc(var(--drag-y, 0) * 1px);//var(--ds-y, 0px);
        }

        & {
            background-color: var(--ui-window-frame-surface, transparent);
        }
    }

    //
    .round-decor {
        & { --background-tone-shift: 0; };

        & {
            padding-block: 0.25rem;
            border-radius: 0.25rem;
            //box-shadow: 0px 0px 0.333rem oklch(from #010101 l c h / 0.4);
            background-color: --c2-surface(var(--background-tone-shift, 0), var(--current, transparent));
            overflow: hidden;
        }

        //
        &:empty {
            padding: 0px;
            display: none;
            pointer-events: none;
            visibility: collapse;
        }
    }

    //
    .time-format {
        // font styles
        & {
            font-size: 0.9em;
            font-optical-sizing: auto;
            font-variant-numeric: tabular-nums;
            font-weight: 500;
            font-kerning: auto;
            font-family: 'InterVariable', 'Inter', 'Fira Mono', 'Menlo', 'Consolas', monospace;
            font-stretch: condensed;
            font-width: condensed;
        }

        // text styles
        & {
            text-overflow: ellipsis;
            text-overflow: "";
            text-wrap: nowrap;
            text-align: center;
            white-space: nowrap;
            letter-spacing: -0.05em;
            padding: 0.125rem;
        }

        //
        & {
            display: inline flex;
            place-content: center;
            place-items: center;
            place-self: center;
            flex-direction: row;
        }
    }

    //
    .ctx-menu {
        & {
            --shadow-color: oklch(from --c2-surface(0.0, var(--current)) l c h / 0.4);
            position: fixed;
            min-inline-size: 100px;
            inline-size: fit-content;
            block-size: fit-content;
            z-index: calc(99999 + var(--z-index, 0)) !important;
            opacity: var(--opacity, 1);
            transform: scale3d(var(--scale, 1), var(--scale, 1), 1) translate3d(var(--translate-x, 0px), var(--translate-y, 0px), 0px);
            pointer-events: auto;
            font-size: 0.8em;
            border-radius: none 0px transparent;
            padding: 0px;

            filter: drop-shadow(0px 0px 0.125rem #0001);
        }

        //
        &, * {
            visibility: visible;
            content-visibility: visible;
        }

        //
        & > * {
            transition-behavior: allow-discrete;
            transition: --background-tone-shift 0.2s ease-in-out;
            background-color: --c2-surface(var(--background-tone-shift, 0), var(--current, transparent));
            pointer-events: auto;
            place-content: center;
            place-items: center;
            cursor: pointer;

            /* */
            &:not(.ctx-menu-separator) {
                padding: 0.125rem;
            }

            /* */
            & { --background-tone-shift: 0; };
            &:hover {
                --background-tone-shift: 0.1;
            }

            & > span {
                text-align: start;
                justify-self: start;
                user-select: none;
                pointer-events: none;
                padding-inline: 0.25rem;
            }

            & > ui-icon {
                --icon-size: 1.8rem;
                padding: 0.5rem;
                user-select: none;
                pointer-events: none;
            }
        }

        & > .ctx-menu-separator {
            block-size: 0.0625rem;
            background-color: --c2-on-surface(var(--background-tone-shift, 0), var(--current, transparent));
            opacity: 0.1;
        }
    }

    //
    .ui-ws-item {
        & {
            --shadow-color: oklch(from --c2-surface(0.0, var(--current)) l c h / 0.4);
            cursor: pointer;
            user-select: none;
            pointer-events: auto;
        }

        //
        & span {
            pointer-events: none;
            aspect-ratio: 1 / 1;
            inline-size: fit-content;
            block-size: fit-content;
            display: inline;
            filter: drop-shadow(0px 0px 0.125rem var(--shadow-color));
        }

        //
        &:active {
            will-change: inset, translate, transform, opacity, z-index;
            cursor: grabbing;
        }
    }


//
    //
    :where(canvas):is([is="ui-canvas"]), :host(canvas[is="ui-canvas"]) {
        min-inline-size: 1px;
        min-block-size: 1px;

        //
        inline-size: 100%;
        block-size: 100%;

        //
        max-inline-size: 100%;
        max-block-size: 100%;

        //
        pointer-events: none !important;
        place-content: center;
        place-items: center;
        place-self: center;

        //
        aspect-ratio: auto;
        display: flex;

        //
        image-rendering: auto;
        image-rendering: optimizeQuality;
        image-rendering: smooth;
        image-rendering: high-quality;

        //
        object-fit: cover;
        object-position: center;

        //
        background-color: var(--theme-base-color, transparent);
        border-image-source: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");

        //
        position: fixed !important;
        inset: 0px !important;
    }

}
