@use "../../lib/index" as *;

//
@property --value  { syntax: "<number>"; initial-value: 0; inherits: true; };
@property --relate { syntax: "<number>"; initial-value: 0; inherits: true; };
@property --drag-x { syntax: "<number>"; initial-value: 0; inherits: false; };
@property --drag-y { syntax: "<number>"; initial-value: 0; inherits: false; };

//
@property --order { syntax: "<integer>"; initial-value: 1; inherits: true; };
@property --content-inline-size { syntax: "<length-percentage>"; initial-value: 100%; inherits: true; };
@property --content-block-size  { syntax: "<length-percentage>"; initial-value: 100%; inherits: true; };
@property --icon-size { syntax: "<length>"; initial-value: 1rem; inherits: true; };
@property --icon-color { syntax: "<color>"; initial-value: currentColor; inherits: true; };

//
@layer ux-classes {
    @include host-related(".grid-rows", "::slotted(*)") { @include grid-row; }
    @include host-related(".grid-rows", "*") { @include grid-row; }
    @include host-context(".grid-rows") {
        @include display(inline-grid, column, center, center);
        @include size(auto, auto);

        //
        & {
            grid-auto-rows: minmax(0px, max-content);
            grid-template-columns: minmax(0px, max-content) minmax(0px, 1fr) minmax(0px, max-content);
            margin: 0px;
            padding: 0px;
            list-style-type: none;
            list-style-position: inside;
        }
    }

    //
    @include host-related(".grid-columns", "::slotted(*)") { @include grid-column; }
    @include host-related(".grid-columns", "*") { @include grid-column; }
    @include host-context(".grid-columns") {
        @include display(inline-grid, row, center, center);
        @include size(auto, auto);

        //
        & {
            grid-auto-columns: minmax(0px, 1fr);
            grid-template-rows: minmax(0px, 1fr);
            margin: 0px;
            padding: 0px;
            list-style-type: none;
            list-style-position: inside;
        }
    }

    //
    @include host-related(".flex-columns", "::slotted(*)") { @include flex-column; }
    @include host-related(".flex-columns", "*") { @include flex-column; }
    @include host-context(".flex-columns") {
        @include display(inline-flex, column, center, center);
        @include size(max-content, max-content);
    }

    //
    @include host-related(".grid-layered", "::slotted(*)") { @include grid-layered; }
    @include host-related(".grid-layered", "*") { @include grid-layered; }
    @include host-context(".grid-layered") {
        @include grid-layered;
        @include display(inline-grid, column, center, center);
        @include size(max-content, max-content);
    }

    //
    @include host-related(".grid-rows-3c", "::slotted(*)") { @include grid-rows-3c; }
    @include host-related(".grid-rows-3c", "*") { @include grid-rows-3c; }
    @include host-context(".grid-rows-3c") {
        & { grid-template-columns: minmax(0px, max-content) minmax(0px, 1fr) minmax(0px, max-content); }
        @include size(auto, auto);
    }

    //
    @include host-related(".grid-rows-3c", "::slotted(*:last-child)") { grid-column: var(--order, 1) / 3 span; }
    @include host-related(".grid-rows-3c", "*:last-child") { grid-column: var(--order, 1) / 3 span; }
    @include host-context(".grid-rows-3c") {
        & { --order: sibling-index(); };
        & { grid-column: var(--order, 1) / var(--order, 1) span; }
        @include size(auto, auto);
    }

    //
    @include host-context(".stretch-inline") { @include inline-stretch; }
    @include host-context(".stretch-block") { @include block-stretch; }

    // requires `box-sizing: border-box`
    @include host-context(".content-inline-size") { @include content-inline-size; }

    // requires `box-sizing: border-box`
    @include host-context(".content-block-size") { @include content-block-size; }

    //
    @include host-context(".ux-anchor") { @include ps-anchor; }
    @include host-context(".ux-anchor") { @include ps-cursor; }

    //
    @include host-context(".layered-wrap") {
        & { background-color: transparent; display: inline grid; inline-size: max-content; block-size: max-content; grid-template-columns: minmax(0px, 1fr); grid-template-rows: minmax(0px, 1fr); z-index: calc(var(--z-index, 0) + 1); overflow: visible; }
        & > * { grid-column: 1 / -1; grid-row: 1 / -1; }
    }
}
