@layer ux-layers {
    @layer
        ux-variables,
        ux-properties,
        ux-normalize,
        ux-agate,
        ux-layout,
        ux-states,
        ux-classes,
        ux-shapes,
        ux-design,
        ux-misc,
        ux-shadows;
}
