@use "veela-lib" as md3;
@use "./function-utils" as func;

//
@function if-cond($c, $a, $b) { @return #{"if(\
    #{$c}: #{$a};\
     else: #{$b};\
)"}; }

//
@include func.make-func("@function --c2h-triple-mix(\
--c2h-a <color>, \
--c2h-b <color>, \
--c2h-c <color>, \
--c2h-factor <number> \
)") {
    --c2h-t : clamp(0, var(--c2h-factor, 0), 1);
    --c2h-ct: clamp(0, round(nearest, var(--c2h-t), 1), 1);
    --c2h-dz: clamp(0, calc(var(--c2h-t) * 2 - 1), 1);
    --c2h-lz: clamp(0, calc(var(--c2h-t) * 2 - 0), 1);

    /* */
    --c2h-lc: color-mix(in oklch, var(--c2h-a) calc((1 - var(--c2h-u)) * 100%), var(--c2h-b) calc(var(--c2h-u) * 100%));
    --c2h-dc: color-mix(in oklch, var(--c2h-b) calc((1 - var(--c2h-u)) * 100%), var(--c2h-c) calc(var(--c2h-u) * 100%));

    /* */
    --c2h-u: calc(
        var(--c2h-ct) * var(--c2h-dz) +
        (1 - var(--c2h-ct)) * var(--c2h-lz)
    );
    result: color-mix(in oklch,
        var(--c2h-lc) calc((1 - var(--c2h-ct)) * 100%),
        var(--c2h-dc) calc(var(--c2h-ct) * 100%)
    );
}

//
@include func.make-func("@function --c2h-re-shading(\
--c2h-color <color>, \
--c2h-factor <number>: 0, \
--c2h-theme-type <number>: 2 \
)") {
    /* chromatic neutralize (unused) ir chromatic, or make very chromatic if too gray */
    --c2h-chromatic-inverse-ls: oklch(from var(--c2h-color) l calc(1 - c) h);
    --c2h-chromatic-inverse-ds: oklch(from var(--c2h-color) l calc(1 - c) h);

    /* from light source colors (l > 0.5, not very chromatic) */
    --c2h-chromatic-extract-ls: oklch(from var(--c2h-color) l calc(c * 0.5) h);  /* most chromatic */
    --c2h-chromatic-extract-ds: oklch(from var(--c2h-color) l calc(c * 0.35) h);  /* most chromatic */

    /* from dark source colors (l < 0.5, not very chromatic) */
    --c2h-lightness-extract-ls: oklch(from var(--c2h-color) 0.99 calc(c * 0.2) h);  /* most light */
    --c2h-lightness-extract-ds: oklch(from var(--c2h-color) 0.08 calc(c * 0.1) h);  /* most light */

    /* */
    --c2h-lightness-inverse-ls: oklch(from var(--c2h-color) 0.01 calc(c * 0.2) h);  /* most dark */
    --c2h-lightness-inverse-ds: oklch(from var(--c2h-color) 0.99 calc(c * 0.1) h);  /* most dark (almost black) */

    /* */
    --c2h-lightness-extract: if(
        style(--c2h-theme-type: 1): var(--c2h-lightness-extract-ds);
        style(--c2h-theme-type: 0): var(--c2h-lightness-extract-ls);
        else: light-dark(var(--c2h-lightness-extract-ls), var(--c2h-lightness-extract-ds));
    );
    --c2h-chromatic-extract: if(
        style(--c2h-theme-type: 1): var(--c2h-chromatic-extract-ds);
        style(--c2h-theme-type: 0): var(--c2h-chromatic-extract-ls);
        else: light-dark(var(--c2h-chromatic-extract-ls), var(--c2h-chromatic-extract-ds));
    );
    --c2h-lightness-inverse: if(
        style(--c2h-theme-type: 1): var(--c2h-lightness-extract-ds);
        style(--c2h-theme-type: 0): var(--c2h-lightness-extract-ls);
        else: light-dark(var(--c2h-lightness-inverse-ls), var(--c2h-lightness-inverse-ds));
    );
    --c2h-chromatic-inverse: if(
        style(--c2h-theme-type: 1): var(--c2h-chromatic-inverse-ds);
        style(--c2h-theme-type: 0): var(--c2h-chromatic-inverse-ls);
        else: light-dark(var(--c2h-chromatic-inverse-ls), var(--c2h-chromatic-inverse-ds));
    );

    /* */
    result: --c2h-triple-mix(
        var(--c2h-lightness-extract),
        var(--c2h-chromatic-extract),
        var(--c2h-lightness-inverse),
        var(--c2h-factor, 0)
    );
}



/* */
@include func.make-func("@function --c2-surface(\
--c2-shift    <number>: var(--_color-shade, 0), \
--c2-color     <color>: var(--current, var(--primary, currentColor)), \
--c2-theme    <number>: 2 \
)")
    { result: --c2h-re-shading(var(--c2-color, var(--primary, currentColor)), clamp(0, calc(0.02 + var(--c2-shift, 0) * 0.8), 1), var(--c2-theme, 2)); };

/* */
@include func.make-func("@function --c2-on-surface(\
--c2-shift      <number>: var(--_color-tint, 0), \
--c2-color       <color>: var(--current, var(--primary, currentColor)), \
--c2-theme      <number>: 2 \
)")
    { result: --c2h-re-shading(var(--c2-color, var(--primary, currentColor)), clamp(0, calc(0.96 - var(--c2-shift, 0) * 0.8), 1), var(--c2-theme, 2)); };



/* */
@include func.make-func("@function --c2-contrast(\
--c2-shift    <number>: var(--_color-shade, 0), \
--c2-color     <color>: var(--current, var(--primary, currentColor)), \
--c2-theme      <number>: 2 \
)")
    { result: --c2h-re-shading(var(--c2-color, var(--primary, currentColor)), clamp(0, calc(0.01 + var(--c2-shift, 0) * 0.6), 1), var(--c2-theme, 2)); };

/* */
@include func.make-func("@function --c2-on-contrast(\
--c2-shift      <number>: var(--_color-tint, 0), \
--c2-color       <color>: var(--current, var(--primary, currentColor)), \
--c2-theme      <number>: 2 \
)")
    { result: --c2h-re-shading(var(--c2-color, var(--primary, currentColor)), clamp(0, calc(1 - var(--c2-shift, 0) * 0.6), 1), var(--c2-theme, 2)); };
