// Values

@property --value  { syntax: "<number>"; initial-value: 0; inherits: true; };

@property --relate { syntax: "<number>"; initial-value: 0; inherits: true; };

@property --drag-x { syntax: "<number>"; initial-value: 0; inherits: false; };

@property --drag-y { syntax: "<number>"; initial-value: 0; inherits: false; };

// Layout / icons

@property --order { syntax: "<integer>"; initial-value: 1; inherits: true; };

@property --content-inline-size { syntax: "<length-percentage>"; initial-value: 100%; inherits: true; };

@property --content-block-size  { syntax: "<length-percentage>"; initial-value: 100%; inherits: true; };

@property --icon-size { syntax: "<length-percentage>"; initial-value: 16px; inherits: true; };

@property --icon-color { syntax: "<color>"; initial-value: #0000; inherits: true; };

@property --icon-padding { syntax: "<length-percentage>"; initial-value: 0; inherits: true; };

@property --icon-image { syntax: "<image>"; initial-value: linear-gradient(#0000, #0000); inherits: true; };
