@use "veela-lib" as *;

//
@layer ux-classes {

    //
    .round-decor {
        & { --background-tone-shift: 0; };

        & {
            padding-block: 0.25rem;
            border-radius: 0.25rem;
            overflow: hidden;
        }

        //
        &:empty {
            padding: 0px;
            display: none;
            pointer-events: none;
            visibility: collapse;
        }
    }

    //
    .time-format {
        // font styles
        & {
            font-size: 0.9em;
            font-optical-sizing: auto;
            font-variant-numeric: tabular-nums;
            font-weight: 500;
            font-kerning: auto;
            font-family: 'InterVariable', 'Inter', 'Fira Mono', 'Menlo', 'Consolas', monospace;
            font-stretch: condensed;
            font-width: condensed;
        }

        // text styles
        & {
            text-overflow: ellipsis;
            text-overflow: "";
            text-wrap: nowrap;
            text-align: center;
            white-space: nowrap;
            letter-spacing: -0.05em;
            padding: 0.125rem;
        }

        //
        & {
            display: inline flex;
            place-content: center;
            place-items: center;
            place-self: center;
            flex-direction: row;
        }
    }

    //
    .ctx-menu {
        //
        &, * {
            visibility: visible;
            content-visibility: visible;
            max-inline-size: stretch;
            inline-size: fit-content;
        }

        //
        & {
            @include solid-colorize("&");

            --color-shade: 0.04;

            position: fixed;
            min-inline-size: 160px;
            inline-size: fit-content;
            max-inline-size: min(200px, 100cqi);
            block-size: fit-content;
            z-index: calc(99999 + var(--z-index, 0)) !important;
            opacity: var(--opacity, 1);
            transform: scale3d(var(--scale, 1), var(--scale, 1), 1) translate3d(var(--translate-x, 0px), var(--translate-y, 0px), 0px);
            pointer-events: auto;
            font-size: 0.8em;
            border: none 0px transparent;
            padding: 0px;
            border-radius: 0.333rem;
            padding-block: 0.333rem;
            transition: all 0.2s ease-in-out;

            filter: drop-shadow(0px 0px 0.25rem #000a);
        }

        //
        & > * {
            @include solid-colorize("&");

            //
            transition-behavior: allow-discrete;
            pointer-events: auto;
            place-content: center;
            place-items: center;
            cursor: pointer;
            inline-size: stretch;

            //
            --color-shade: 0.04;

            /* */
            &:not(.ctx-menu-separator) {
                padding: 0.25rem;
            }

            & > span {
                text-align: start;
                justify-self: start;
                user-select: none;
                pointer-events: none;
                padding-inline: 0.333rem;
            }

            & > ui-icon {
                --icon-size: 1.8rem;
                padding: 0.5rem;
                user-select: none;
                pointer-events: none;
            }
        }

        & > .ctx-menu-separator {
            block-size: 0.0625rem;
            background-color: --c2-on-surface(var(--background-tone-shift, 0), var(--current, transparent));
            opacity: 0.1;
        }
    }

    //
    .ui-ws-item {
        & {
            cursor: pointer;
            user-select: none;
            pointer-events: auto;
        }

        //
        & span {
            pointer-events: none;
            aspect-ratio: 1 / 1;
            inline-size: fit-content;
            block-size: fit-content;
            display: inline;
        }

        //
        &:active {
            will-change: inset, translate, transform, opacity, z-index;
            cursor: grabbing;
        }
    }

    //
    ui-window-frame, ui-modal, .ui-grid-item {
        & {
            isolation: isolate;
            content-visibility: auto;
            transform-origin: 50% 50%;
            transform-style: flat;
            transform-box: fill-box;
            translate: 0% 0% 0%;
            opacity: var(--opacity, 1);
            rotate: 0deg;
            scale: 1;

            //
            --opacity: 1;
            --scale: 1;
            --rotate: 0deg;
            --translate-x: 0%;
            --translate-y: 0%;
        };
    };

}
