@use "../../lib/index" as *;

//
@layer ux-buttons {

    :where(button, input[type="checkbox"]) {
        display: flex;
        place-items: center;
        place-content: center;

        //
        cursor: pointer;
        pointer-events: auto;

        //
        margin: 0px;
        padding: 0px;

        //
        border: none 0px transparent;
        outline: none 0px transparent;

        //
        @include button-base;
    }

    :where(button, input[type="checkbox"]):is(.btn, .save, .cancel) {
        @include button-base;
        gap: var(--space-sm);
        padding: calc(var(--space-sm) * 0.9) var(--space-md);
        border-radius: var(--radius-xl);
    }
}
