@use "../../lib/mixins/components" as mx;

//
@layer ux-buttons {

    :where(button, input[type="checkbox"]) {
        @include mx.button-base;
    }

    :where(button, input[type="checkbox"]):is(.btn, .save, .cancel) {
        @include mx.button-base;
        gap: var(--space-sm);
        padding: calc(var(--space-sm) * 0.9) var(--space-md);
        border-radius: var(--radius-xl);

        &.save { --current: var(--color-success); }
        &.cancel { --current: var(--color-error); }
    }

}
